# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

hacking!=0.13.0,<0.14,>=0.12.0 # Apache-2.0
python-dateutil>=2.7.0 # BSD
coverage>=4.5.1 # Apache-2.0
lxml>=4.1.1 # BSD
networkx<2.0,>=1.11 # BSD
PyMySQL>=0.8.0 # MIT License
python-ceilometerclient>=2.9.0 # Apache-2.0
python-cinderclient>=3.5.0 # Apache-2.0
python-neutronclient>=6.7.0 # Apache-2.0
python-novaclient>=10.1.0 # Apache-2.0
python-heatclient>=1.14.0 # Apache-2.0
python-subunit>=1.2.0 # Apache-2.0/BSD
pyzabbix>=0.7.4 # LGPL
oslo.db>=4.35.0 # Apache-2.0
oslo.log>=3.37.0 # Apache-2.0
oslotest>=3.3.0 # Apache-2.0
oslo.config>=5.2.0 # Apache-2.0
oslo.messaging>=5.36.0 # Apache-2.0
oslo.i18n>=3.20.0 # Apache-2.0
oslo.policy>=1.34.0 # Apache-2.0
pecan>=1.2.1 # BSD
requests-mock>=1.4.0 # Apache-2.0
testrepository>=0.0.20 # Apache-2.0/BSD
testscenarios>=0.5.0 # Apache-2.0/BSD
testtools>=2.3.0 # MIT
stestr>=2.0.0 # Apache-2.0
stevedore>=1.28.0 # Apache-2.0
voluptuous>=0.11.1 # BSD License
sympy>=1.1.1 # BSD
reno>=2.7.0 # Apache-2.0
pysnmp>=4.4.4 # BSD
osprofiler>=2.0.0 # Apache-2.0
SQLAlchemy>=1.2.5 # MIT
